/ %h1 Listing Products
/ = form_tag category_products_path, :method => 'get' do
/   .product_search
/     = text_field_tag :search, params[:search]
/     %span
/       = submit_tag "Search", :name => nil, :class => "btn btn-default"
.row
  - @products.each do |product|
    .col-sm-6.col-md-4.product_lists
      .thumbnail.product_boxes
        %div{:style => "height:125px;width:150px;margin-left:15px;"}
          = image_tag product.image.url(:small)
        .caption
          %p.product_name
            %i
              = product.product_name
          %p
            %b
              Rs.
            = product.price
          %p
            = product.description
%ul.pager
  = #will_paginate @product, renderer: BootstrapPagination::Rails

/ :javascript
/   $(function(){
/     $('.pagination a').attr('data-remote', 'true')
/   });