%p#notice= notice
%p
  %b Produc Name:
  = @product.product_name
%p
  %b Image:
  = image_tag @product.image.url(:large)
%p
  %b Price:
  = @product.price
%p
  %b Description:
  = @product.description

= link_to 'Edit', edit_category_product_path(@category,@product)
= #link_to 'Back', category_products_path