%p#notice= notice
%p
  %b Produc Name:
  = @product.product_name
%p
  %b Image:
  = image_tag @product.image.url(:large)
%p
  %b Price:
  = @product.price
%p
  %b Description:
  = @product.description

= link_to 'Edit', edit_product_path(@product)
= link_to 'Back', products_path