!!!
%html
  %head
    %title ShoppingCart
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav#nav.navbar.navbar-default.affix-top{"data-offset-top" => "100", "data-spy" => "affix", role: "navigation"}
      %nav.navbar-inner
        .container
          = #render 'layouts/navigation'
          = render 'layouts/header_account'
    = yield